users:
  admin:
    displayname: "Administrator"
    password: "{{ authelia_admin_hash }}"
    email: "admin@{{ domain_name | default('homelab.local') }}"
    groups:
      - admins
      - users
  user:
    displayname: "Regular User"
    password: "{{ authelia_user_hash }}"
    email: "user@{{ domain_name | default('homelab.local') }}"
    groups:
      - users